*{
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    user-select: none;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
    transition: filter .3s;
}

.addImage{
  width: 100%;
}




:root{
  	--hue: 223;
  	--bg: hsl(var(--hue), 10%, 90%);
  	--fg: hsl(var(--hue), 10%, 10%);
  	--primary: hsl(var(--hue), 90%, 55%);
  	/* --primary: rgba(157, 189, 200, 0.77); */
  	--trans-dur: 0.3s;
  	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

header{
    background-color: white;
    
}
header container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
}
header container div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 20px;
    width: max-content;
    justify-content: start;
}
.input-crrect{
    width: 100% !important;
}
.logo> img{
    /* transform: scale(1.3); */
    width: 150px;
}


input-group{
    padding: 4px 9px;
    background-color: rgba(214, 232, 238, 0.61);
    display: flex;
    align-items: center;
    border-radius: 7px;
    gap: 10px;
    width: 100%;
    max-width: 700px;
}

input-group input{
    background-color: transparent;
    line-height: 10px;
    border: none;
    font-size: large;
    outline: none;
    width: 100%;
    border-radius: 5px;
}

input-group svg.bi-search{
    color: rgb(110, 110, 110);
    height: 20px;
    width: 20px;
    margin: 8px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .card{
    padding: 5px 9px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap !important;
    width: 130px;
    margin: 0 6px;
    transition: all 0.2s;
    cursor: pointer;
    text-overflow: ellipsis;

    background-color: rgb(219, 219, 219);
    padding: 10px;
}

header .card label{
  margin-left: 6px;
}
header .card:hover{
    background-color: rgb(235, 235, 235);
}
header .card svg{
    color: rgb(0, 0, 0);
    height: 23px;
    width: 23px;
}

header button{
    background-color: blue;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: 7px;
    transition: all 0.1s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border: 0.1px solid rgba(0, 0, 255, 0);
}
header button svg{
    height: 20px;
    width: 20px;
    margin: 3px;
    margin-left: 0;
}

header button:hover{
    color: blue;
    background-color: white;
    border: 0.1px solid blue;
}

header .menu-button{
  display: none;
}
.menu-button svg{
  height: 30px;
  width: 30px;
  margin: 8px;
}






/* --------main---------- */

main{
    padding: 0 2%;
    position: relative;
}
.main-container{
  display: none;
}


.slide{
  display: none;
}
.slide img {vertical-align: middle;}

@keyframes slide {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
}


/*---------LOADER----------*/

loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
loading container{
  text-align: center;
  height: 100vh;
  width: 100%;
  color: rgba(0, 0, 0, 0.68);
  
  
  background-color: var(--bg);
  color: var(--fg);
  font: 1em/1.5 "DM Sans",
  sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: background-color var(--trans-dur),
  color var(--trans-dur);
  
  
  
}

.preloader {
	text-align: center;
	max-width: 20em;
	width: 100%;
}
.preloader__text {
	position: relative;
	height: 1.5em;
	color: var(--primary);
	font-weight: bold;
}
.preloader__msg {
	animation: msg 0.3s 1.4s linear forwards;
	position: absolute;
	width: 100%;
	margin-left: 6px;
}
.preloader__msg--last {
	animation-direction: reverse;
	animation-delay: 1.6s;
	visibility: hidden;
	font-weight: normal;
}
.Lcart {
	display: block;
	margin: 0 auto 1.5em auto;
	margin-bottom: 0;
	width: 8em;
	height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
	animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
	stroke: var(--primary);
}
.cart__top {
	animation-name: cartTop;
}
.cart__wheel1 {
	animation-name: cartWheel1;
	transform: rotate(-0.25turn);
	transform-origin: 43px 111px;
}
.cart__wheel2 {
	animation-name: cartWheel2;
	transform: rotate(0.25turn);
	transform-origin: 102px 111px;
}
.cart__wheel-stroke {
	animation-name: cartWheelStroke
}
.cart__track {
	stroke: hsla(var(--hue),10%,10%,0.1);
	transition: stroke var(--trans-dur);
}
loading svg{
  height: 70px !important;
  width: 70px !important;
}

/* Dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .cart__track {
    stroke: hsla(var(--hue),10%,90%,0.1);
  }
  
  
} */

/* Animations */
@keyframes msg {
	from {
		opacity: 1;
		visibility: visible;
	}
	99.9% {
		opacity: 0;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes cartLines {
	from,
	to {
		opacity: 0;
	}
	8%,
	92% {
		opacity: 1;
	}
}
@keyframes cartTop {
	from {
		stroke-dashoffset: -338;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 338;
	}
}
@keyframes cartWheel1 {
	from {
		transform: rotate(-0.25turn);
	}
	to {
		transform: rotate(2.75turn);
	}
}
@keyframes cartWheel2 {
	from {
		transform: rotate(0.25turn);
	}
	to {
		transform: rotate(3.25turn);
	}
}
@keyframes cartWheelStroke {
	from,
	to {
		stroke-dashoffset: 81.68;
	}
	50% {
		stroke-dashoffset: 40.84;
	}
}




/*-----------ENDL LOADER----------*/

/* top Scroll */

section.top-list .card{
 
  
  
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
}
section.top-list .card img{
  margin-bottom: 1rem;
}
section.top_list .card label{
  margin: auto;
  width: 100%;

}

section.welcome_section{
  height: min-content;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.welcome_container h2{
  padding: 0;margin: 0;
  padding-top: 20px;
}
.welcome_container{
  text-align: center;
}
/* .welcome_container img{
  transform: translateY(-10px);
} */

main section{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: white;
    margin-top: 10px;
    padding: 17px 18px;
    margin-bottom: 20px;
    min-height: 126px;
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
section div.card{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 6px 20px;
}



/* Hide scrollbar for Chrome, Safari and Opera */
section::-webkit-scrollbar {
    display: none;
}

.slider img{
  object-fit: cover;
}
.slider-mob{
  display: none;
  height: max-content !important;
}
.slider-mob img{
  height: auto;
  width: 100%;
}



/* This is the Profile picture */



.dp{
    border-radius: 2000px;
    overflow: hidden;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dp img{
    width: 30px;
    
}

/* ---------Top-list ( brand logo's )*/

section.top-list img{
  width: 40px;
}


/*-----------offer prodects--------*/


section.offer{
  display: none;
}
section.offer container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
section.offer card{
  max-width: calc(100/3);
  height: 120px;
  padding: 6px;
  border: 1px solid rgba(224, 224, 224, 0.76);
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  text-align: center;
  min-width: 60px;
  margin: 0 6px;
  overflow: hidden;
  font-size: 10px;
}

section.offer img{
  width: 100%;
  height: 100px;
  background-color: rgba(214, 232, 238, 0.61);
  margin-bottom: 6px;
}

section.offer h3{
  font-size: 12px;
  padding: 0;
  margin: 0;
}

/* Suggest -1 */
section.suggest-1{
  display: block;
  width: 100%;
}
section.suggest-1 container{
  width: 100%;
  display: flex;
  overflow: scroll;
}

section.suggest-1 .card img{
  width: 100%;
  margin-bottom: 8px;
  height: calc(100%-100px);
}
section.suggest-1 .card{
  width: calc(100%/5);
  max-width: 250px;
  min-width: 100px;
  height: auto;
  border: 0px solid rgba(224, 224, 224, 0.76);
  padding: 6px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  max-width: 100%;
}
section.suggest-1 span{
  text-align: center;
  margin: auto;
  
}
.product-name{
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block; 
  border-width: 0px;
  max-width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  width: max-content;
}

section.suggest-1 span.product-price{
  font-weight: bold;
  background-color: rgba(214, 232, 238, 0.61);
  margin-top: 3px;
}
section.suggest-1 span.old-price{
  overflow-wrap: break-word;
  color: gray;
  margin-block-start: auto;
}







/* 

@media (prefers-color-scheme: dark){
  body , header, section, nav{
     background-color: #212121 !important;
     color: #fff !important;

 }
 nav .card{
  background-color: #505050 !important;
  color: white !important;
 }
 nav button{
  background-color: #0225c0 !important;
  color: white !important;
 }
 
 .apple{
  content:url("asset/icons/apple-svgrepo-com-dark.svg");

}
 } */
 
 
 .gray{
   filter: grayscale(1);
 }








 nav{
  position: relative;
 }
 .accountcard{
  position: absolute;
  top:  0px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: .6rem;
  z-index: 99;
  cursor: pointer;
  top: 56px;


display: none;
  
  
 }
 .accountcard .container{
  display: flex;
  flex-direction: column;
  gap: 0;
 }

 .accountcard .id_wrapper{
  width: 100%;
  display: flex;
  align-items: center;

  margin: 10px 0;
 }
 .dp1{
  width: 30px;
  border-radius: 3000px;
 }
 .account_nav{
  min-width: 100%;
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-bottom: 10px;
 }
.account_nav span{
  margin-left: auto;
}

.google img{
  transform: scale(.9);
}
.samsung img{
  transform: scale(2.5) translateY(0px);
}



/* seconddary */

.suggest-1{
  display: none !important;
}

.product_section{
  width: 100;
  transition: all .3s;
  transform: translateY(-10px);
}
.product_section .container{
  width: 100%;
}

.product_section .title{
  margin: auto;
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 20px 0;
  color: rgb(92, 92, 92);

  text-transform: uppercase;
  padding-bottom: 0;
}

.flex{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1024px;
  margin: auto;
}

.product_card{
  overflow: hidden;
  border-radius: .6rem;
  margin: 10px;
  animation-name: slideUp;
  animation-duration: .2s;
  animation-delay: 5s;
  transition: all .5s;
  animation: fade-in linear;
  animation-timeline: view(98% -200px);
}
@keyframes fade-in {
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(-40px);
    opacity: 1;
  }
}


.product_card img{
  max-width: 100%;
  object-fit: cover;
}

@keyframes slideUp{
  from{
    .product_card{
      transform: translateY(100px);
    }
    to{
      transform: translateY(0);
    }
  }
} 


.product_section{
  background-color: white;
}

.product_card{
  overflow: hidden;
  border-radius: .6rem;
  margin: 10px;
  transition: all .3s;
  opacity: 1;
  transform: translateY(70px);
}


.product_card img{
  max-width: 100%;
  object-fit: cover;
}

section.top_list{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}





