@media (max-width: 500px) {
    .login, .signup{
        height: 100vh;
        overflow: hidden;
    }
    forms button{
        margin-top: 10px;
    }
    forms .card{
        padding: 0;
        margin: 0 10px;
    }
    .or-div{
        margin: 10px 0;
    }
    
    .foot{
      position: fixed;
      bottom: 10px;
      left: 10px;
    }
}