*{
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --disabled: #65696a;
}
body{
    margin: 0;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login, .signup{
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 30px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.login .form, .signup .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    gap: 10px;
}

.form input-group, .form input-otp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
}
.form input-otp{
    display: none;
}
input-otp button{
    margin-top: 10px;
}

.form div:nth-child(2), form div:nth-child(1){
    width: 100%;
    display: block;
    text-align: left;
}
.form img{
    width: 100px;
}
.form h1{
    font-weight: bold;
    margin-bottom: 6px;
    font-size: x-large;
}
input-group, input-otp{
    text-align: left;
    width: 100%;
    margin-top: 14px;
}
.form label{
    color: var(--disabled);
    font-size: small;
}

.form input{
    line-height: 40px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid black;
    padding: 0 10px;
}
input-group div:nth-child(1), input-otp div:nth-child(1){
    width: 100%;
    display: block;
    text-align: left;
}
button{
    line-height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or-div{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.or-div div:nth-child(1), .line-right{
    height: 1px;
    width: 100%;
    margin: 1px 0;
    background-color: rgba(216, 216, 216, 0.767);
}

div.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px ;
}
div.social .card{
    background-color: rgb(235, 235, 235);
     background-image: url("../../assets/icons/apple.png");
     height: 50px;
     width: calc(100%/3);
     background-position: center;background-repeat: no-repeat;
     background-size: 20px;
     border-radius: 10px;
     transition: all 0.2s;
}

div.social .card:nth-child(2){
    background-image: url("../../assets/icons/facebook.png");
}

div.social .card:nth-child(3){
    background-image: url("../../assets/icons/google.png");
}

div.social .card:hover{
    background-size: 18px;
    background-color: rgb(218, 218, 218);
}

.text-left{
    width: 100%;
}
.small-text{
    font-size: 14px;
}
.sml-1{
    font-size: 12px;
    color: #9b9b9b !important;
    letter-spacing: 0.4px;
}
a{
    font-weight: 600;
    text-decoration: none;
    color: #0083fdd7;
}
.foor{
    width: 100%;
}
.foot a{
    margin: 6px;
    margin-left: 0;
    font-weight: normal;
    color: var(--disabled);
    font-size: 13px;
}


.margin-20{
    margin: 15px 0;
    margin-bottom: 25px;
}

.signup{
    display: none;
}

div.flex-colunm{
    flex-flow: column;
}
div.flex-colunm .card{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    flex-flow: row;
    flex-wrap: nowrap;
    background-image: none !important;
    gap: 10px;
    font-size: unset;
    font-weight: bold;
}
div.flex-colunm .card svg{
    height: 26px;
    width: 26px;
}





@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 41%;
    left: 91%;
    animation-duration: 17s;
    animation-delay: -5s;
    transform-origin: -18vw -22vh;
    box-shadow: 40vmin 0 5.351850204775993vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 64%;
    left: 86%;
    animation-duration: 53s;
    animation-delay: -10s;
    transform-origin: -10vw -16vh;
    box-shadow: 40vmin 0 5.878518045683464vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 36%;
    left: 11%;
    animation-duration: 54s;
    animation-delay: -30s;
    transform-origin: 9vw -14vh;
    box-shadow: 40vmin 0 5.617916943952088vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 34%;
    left: 13%;
    animation-duration: 34s;
    animation-delay: -32s;
    transform-origin: 22vw 24vh;
    box-shadow: 40vmin 0 5.46735673293825vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 27%;
    left: 12%;
    animation-duration: 17s;
    animation-delay: -13s;
    transform-origin: -14vw -13vh;
    box-shadow: 40vmin 0 5.55574101540648vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 98%;
    left: 54%;
    animation-duration: 22s;
    animation-delay: -4s;
    transform-origin: -5vw -24vh;
    box-shadow: -40vmin 0 5.156951582451201vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 73%;
    left: 79%;
    animation-duration: 17s;
    animation-delay: -6s;
    transform-origin: 4vw 5vh;
    box-shadow: -40vmin 0 5.249140498091393vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 76%;
    left: 99%;
    animation-duration: 16s;
    animation-delay: -38s;
    transform-origin: 5vw -11vh;
    box-shadow: -40vmin 0 5.119679187150201vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 16%;
    left: 73%;
    animation-duration: 37s;
    animation-delay: -37s;
    transform-origin: -24vw -10vh;
    box-shadow: -40vmin 0 5.54607054762721vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 16%;
    left: 88%;
    animation-duration: 38s;
    animation-delay: -50s;
    transform-origin: 25vw 18vh;
    box-shadow: 40vmin 0 5.352248488261761vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 42%;
    left: 34%;
    animation-duration: 18s;
    animation-delay: -3s;
    transform-origin: -16vw 16vh;
    box-shadow: -40vmin 0 5.669535076116004vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 67%;
    left: 15%;
    animation-duration: 29s;
    animation-delay: -12s;
    transform-origin: -7vw 16vh;
    box-shadow: 40vmin 0 5.130111661366541vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 6%;
    left: 83%;
    animation-duration: 14s;
    animation-delay: -16s;
    transform-origin: 24vw -3vh;
    box-shadow: -40vmin 0 5.077312175693215vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 36%;
    left: 80%;
    animation-duration: 34s;
    animation-delay: -23s;
    transform-origin: 19vw 9vh;
    box-shadow: -40vmin 0 5.173722192622912vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 30%;
    left: 23%;
    animation-duration: 22s;
    animation-delay: -12s;
    transform-origin: 23vw -1vh;
    box-shadow: 40vmin 0 5.694896011338361vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 76%;
    left: 11%;
    animation-duration: 43s;
    animation-delay: -33s;
    transform-origin: 11vw -2vh;
    box-shadow: -40vmin 0 5.221491693371917vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 79%;
    left: 14%;
    animation-duration: 15s;
    animation-delay: -48s;
    transform-origin: -18vw 8vh;
    box-shadow: 40vmin 0 5.348972662736966vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 61%;
    left: 91%;
    animation-duration: 16s;
    animation-delay: -26s;
    transform-origin: 22vw 23vh;
    box-shadow: -40vmin 0 5.6945043409183835vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 53%;
    left: 63%;
    animation-duration: 31s;
    animation-delay: -29s;
    transform-origin: -8vw -6vh;
    box-shadow: 40vmin 0 5.558132711583852vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 98%;
    left: 52%;
    animation-duration: 52s;
    animation-delay: -48s;
    transform-origin: 6vw -3vh;
    box-shadow: 40vmin 0 5.860556026448094vmin currentColor;
}
